.white-text {
  color: #fff;
}
.green {
  background-color: #8bc044;
}
.navbar {
  min-height: 5em !important;
}
.navbar form {
  background-color: #4481c0;
}
#navbar-toggle {
  margin-top: 2em;
}
#navbar-toggle span {
  background-color: #fff;
}
#logo-brand {
  min-height: 5em;
  background-image: linear-gradient(to bottom, #cad0d5 0, #fff 100%);
  border: 0.1em solid #b6bcc0;
  margin-top: 0.5em;
  border-radius: 10px;
  margin-bottom: -0.5em;
  margin-left: 1em;
}
#logo-brand img {
  width: 150px;
}
#login-form {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
}
#navbar-status {
  background-color: #4481c0;
}
#navbar-status p {
  margin-bottom: 0em;
  padding: 1em 1em;
}
@media (min-width: 768px) {
  .navbar form {
    background-color: #8bc044 !important;
  }
}
