.white-text
	color white
.green
	background-color #8BC044
.navbar
	min-height 5em !important
	form
		background-color #4481C0
#navbar-toggle
	margin-top 2em
	span
		background-color: white
#logo-brand
	min-height 5em
	background-image: linear-gradient(to bottom,#CAD0D5 0,#FFFFFF 100%);
	border 0.1em solid #B6BCC0;
	margin-top 0.5em
	border-radius 10px
	margin-bottom -0.5em
	margin-left 1em
	img
		width 150px
#login-form
	margin-top 0px
	margin-bottom 0px
	padding-top 15px
#navbar-status
	background-color #4481C0
	p
		margin-bottom 0em
		padding 1em 1em
@media (min-width: 768px) 
	.navbar
		form
			background-color: #8BC044 !important
