.green
	background-color #8BC044
.navbar
	min-height 5em !important
#navbar-toggle
	span
		background-color: white
#logo-brand
	min-height 5em
	background-image: linear-gradient(to bottom,#CAD0D5 0,#FFFFFF 100%);
	border: 0.1em solid #B6BCC0;
	border-bottom-width: 0px;
	margin-top: 0.5em;
	border-radius: 10px 10px 0px 0px;
	img
		width 150px